.flex-box {
    display: flex;
    justify-content: space-between;
 } 

 .name {font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;} 

.description { 
font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
 } 

 
 .price {font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;}
    